.ipynb_checkpoints
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

1_Classic_Neural_Networks_Implementation/dogImages/*
6_Lung_Nodule_Analysis_Challenge/data/*
runs/
*/*.pth
*/*.zip
*/*.tgz

*.tgz
*.zip
*.pt
*.bin
*.pyc

###

tokenizer_en.json
tokenizer_it.json
###

